* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  body {
    background: #9999A2;
    padding: 0;
  }
  
  header {
    background-color: #f5ba13;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
  }

  header .navbar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  homeImage img {
    height: 490px;
    width: 100vw;
  }
  
  footer {
    position: relative;
    text-align: center;
    bottom: 0px;
    width: 100%;
    height: 2.5rem;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  footer p {
    color: #000;
    font-size: 18px;
    padding-top: 12px;
  }
  .note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
  }
  .note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }
  .note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .note button {
    position: relative;
    float: right;
    margin-right: 10px;
    color: #f5ba13;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
  }

  menu {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
  }

  menu img {
    display: inline;
    height: 200px;
    width: 75%;
    margin-top: 5%;
    margin-left: 15px;
    padding: 5px;
  }

  menu .foodbox {
    background-color: #f5ba13;
    height: 125px;
    margin: 5px;
    text-align: center;
  }

  menu .dinners {
    background-color: #f5ba13;
    margin-top: 10px;
  }

  menu .salads {
    background-color: #f5ba13;
    margin-top: 10px;
  }

  menu h2 {
    color: #fff;
  }

  menu .foodBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  menu .foodBox :last-child{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 15%;
    height: 190px;
    border: 1px solid #503629;
    border-color: #503629;
    background-color: #fff;
    margin-right: 15px;
  }

  menu .foodBox :last-child p {
    margin-top: 8%;
  }

  menu .foodBox :last-child a {
    border: 2px solid #000;
    background: rgba(80, 54, 41, 0.6) !important;
    font-family: 'SourceSansProBold', sans-serif !important;
    color: #fff;
    padding: 2px 6px;
    position: relative;
    bottom: -12px;
    right: -150px;
  }

  topthis .Welcome{
    text-align: center;
    background-color: #f5ba13;
    height: 60px;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
  }

  topthis .Welcome h1{
    padding: 4px;
  }

  topthis .about-topThis {
    text-align: center;
    font-size: 24px;
  }

  .about-topThis {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    background-color: #9999A2;
  }

  .about-topThis .middle {
    background-color: #fff;
    box-shadow: 2px 4px #ccc;
  }

  .about-topThis p {
    font-size: 1.1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  form {
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }
  form input,
  form textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
  }
  form button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #f5ba13;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
  }
  